@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 124 100% 95%;
    --foreground: 124 5% 0%;
    --card: 124 50% 90%;
    --card-foreground: 124 5% 10%;
    --popover: 124 100% 95%;
    --popover-foreground: 124 100% 0%;
    --primary: 124 65.3% 37.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 86 30% 85%;
    --muted-foreground: 124 5% 35%;
    --accent: 86 30% 80%;
    --accent-foreground: 124 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 124 5% 90%;
    --border: 124 30% 50%;
    --input: 124 30% 18%;
    --ring: 124 65.3% 37.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 124 50% 5%;
    --foreground: 124 5% 90%;
    --card: 124 50% 0%;
    --card-foreground: 124 5% 90%;
    --popover: 124 50% 5%;
    --popover-foreground: 124 5% 90%;
    --primary: 124 65.3% 37.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 86 30% 15%;
    --muted-foreground: 124 5% 60%;
    --accent: 86 30% 15%;
    --accent-foreground: 124 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 124 5% 90%;
    --border: 124 30% 18%;
    --input: 124 30% 18%;
    --ring: 124 65.3% 37.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.emoji-picker em-emoji-picker {
  ---rgb-accen: 34, 197, 94;
  ---shadow: 0px 0px 0px 0px white;

  height: 400px;
}

.ProseMirror p.is-editor-empty:first:child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.custom-button-uploading:after {
  background-color: transparent !important;
}
